{% extends "base.html" %}
{% block title %}Записи сообщества {{ group.title }}
{% endblock %}
  {% block content %}
  {% block header %}{{ group.name }}{% endblock %}    
  <main>
      <div class="container">
        <h1>Записи сообщества {{ group.title }}</h1>
        <p>
          {{ group.description }}
        </p>
        {% for post in posts  %}
        <article>
          <ul>
            <li>
              Автор: {{ post.author.get_full_name }}
            </li>
            <li>
              Дата публикации: {{ post.pub_date }}
            </li>
          </ul>      
          <p>
            {{ post.text }}
          </p>         
        </article>
        <hr>
        {%endfor%}
        <!-- под последним постом нет линии -->
      </div>  
    </main>
  {% endblock content %}
  