{% extends "base.html" %}
{% block title %}Записи сообщества {{ group.title }}
{% endblock %}
  {% block content %}   
  <main>
    {% block header %}{{ group.name }}{% endblock %}
      <div class="container">
        <h1>Записи сообщества {{ group.title }}</h1>
        <p>
          {{ group.description }}
          <h1>{% block header %}{{ group.title }}{% endblock header %}</h1>
        </p>
        {% for post in page_obj  %}
        <article>
          <ul>
            <li>
              Автор: {{ post.author.get_full_name }}
            </li>
            <li>
              Дата публикации: {{ post.pub_date }}
            </li>
          </ul>      
          <p>
            {{ post.text }}
          </p>         
        </article>
        <hr>
        {%endfor%}
        <!-- под последним постом нет линии -->
        {% include "includes/paginator.html" %}
      </div>  
    </main>
  {% endblock content %}
  